<%= link_to "All Questios", questions_path, class: "btn btn-primary btn-lg" %>

<div class="container text-center main-div">
  <h1>Hello, Welcome to you our application</h1>
  <%= link_to "Stat Test", test_path, class: "btn btn-primary btn-lg" %>
</div>