<div class="question-section">
  <% if @qeuestion_no > 5 %>
    <%= render "result_page"%>
  <% else %>
    <%= render "question", question: @question, qeuestion_no: @qeuestion_no %>
  <% end %>
</div>